body {
    margin: 0;
    padding: 0;
}

#box1, #box2 {
    background-color:#CCC;
    height:100%;
    width:40%;
    padding:20px 30px;
    box-sizing: border-box;
    float: left; 
}

#lista_a, #lista_b {
    margin:0;
    padding:0;
}

#lista_a li, #lista_b li {
    list-style: none;
    font-family:Arial;
    text-transform: uppercase;
    padding:5px 10px;
    color:#333;
    background-color:#FFF;
    border:solid 1px #999;
    border-radius:5px;
    margin-bottom:5px;
    cursor:pointer;
}

#lista_a li:hover, #lista_b li:hover {
    background-color:#999;
} 

a.add, a.remove {
    font-family: Arial;
    text-transform: uppercase;
    color:#FFF;
    width:100px;
    height:30px;
    border:solid 1px #FFF;
    border-radius:5px;
    margin-top:20px;
    font-size:10px;
    display: inline-block;
    text-align:center;
    line-height:30px;
    text-decoration:none;
}
/* Cor de fundo dos botões */
a.add { background-color:#283593 }
a.remove { background-color:#c62828 }

/* Cor do efeito ao passar o mouse sobre */
a.add:hover { background-color:#1a237e }
a.remove:hover { background-color:#b71c1c }

h1 {
    font-family:Arial;
    color:#333;
    padding:0 0 10px 0;
    margin:0 0 20px 0;
    border-bottom:dashed 1px #999; 
}

#navigation {
    width:20%;
    text-align: center;
    float: left;
    padding-top:10%;
}

a.right, a.left {
    font-family: Arial;
    font-weight: bold;
    text-transform: uppercase;
    color:#333;
    width:100px;
    height:30px;
    border:solid 1px #FFF;
    border-radius:5px;
    margin-top:20px;
    font-size:14px;
    display: block;
    text-align:center;
    line-height:30px;
    text-decoration:none;
    background-color:#999;
    margin:0 auto 20px auto;
}

/* Cor do efeito ao passar o mouse sobre */
a.right:hover, a.left:hover { background-color:#666 }