<div class="row">
    <div class="col col-lg-6">
        <h3 class="m-3">FAÇA SEU REGISTRO AQUI</h3>
        <div class="card">
            <div class="card-body">
                <form action="/usuarios/registro/reg" method="POST">
                    <label for="nome">Nome: </label>
                    <input type="text" name="nome" class="form-control" id="select">
                    <label for="email">E-mail: </label>
                    <input type="text" name="email" class="form-control">
                    <label for="senha">Senha:  </label>
                    <input type="password" name="senha" class="form-control">
                    <label for="senha2">Repita a Senha: </label>
                    <input type="password" name="senha2" class="form-control">
                    <button type="submit" class="btn btn-success mt-2">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>
</div>